.details {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity)) /* #1f2937 */;
  --tw-bg-opacity: 0.75;
  padding: 1rem /* 16px */;
}

.detailsCard {
  width: 100%;
  max-width: 28rem /* 448px */;
  padding: 1.5rem /* 24px */;
  box-shadow:
    0px 155px 62px rgba(0, 0, 0, 0.01),
    0px 87px 52px rgba(0, 0, 0, 0.05),
    0px 39px 39px rgba(0, 0, 0, 0.09),
    0px 10px 21px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
}

.detailsCardDiv {
  display: flex;
  justify-content: flex-end;
}

.detailsTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-bottom: 1rem /* 16px */;
}

.detailsTitle h2 {
  text-align: center;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity)) /* #eab308 */;
}

.detailsTitle svg {
  --tw-text-opacity: 1;
  color: rgb(31 41 55);
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity)) /* #eab308 */;
}

.detailsBody {
  margin-bottom: 1rem /* 16px */;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity)) /* #1f2937 */;
}

.detailsBody img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem /* 8px */;
  height: 12rem /* 192px */;
  border-radius: 0.5rem /* 8px */;
}

.cardTransparent {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent white background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for a card effect */
  width: 100%;
}

.icon {
  font-size: 8rem /* 128px */;
  line-height: 1;
  --tw-text-opacity: 1;
  height: 25px;
  color: rgb(31 41 55 / var(--tw-text-opacity)) /* #1f2937 */;
}
