.main {
  margin-bottom: 5rem /* 80px */;
  padding: 1rem /* 16px */;
}

.pokemonCard {
  display: grid;
  gap: 1rem /* 16px */;
}

.grid {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.isLoading {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity)) /* #1f2937 */;
  --tw-bg-opacity: 0.75;
  padding: 1rem /* 16px */;
}
