@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    transition: background-color 0.3s ease;
  }

  body {
    background-color: theme('colors.white');
    color: theme('colors.gray.900');
  }

  .dark body {
    background-color: theme('colors.gray.900');
    color: theme('colors.white');
  }
}
